*{
margin: 0;
padding:0;
box-sizing: border-box;
overflow-x:hidden;

}

canvas{
    position: absolute;
    top:0px;
    left:0px;
    z-index: -1;
}


.home-container{
    margin: auto;
  margin-top: 3%;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
width:50%;
border:1px solid black;
border-radius: 15px;
box-shadow: 3px 3px 4px grey;
background-image: url(images/fairinstruct.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.home-container h1{

margin-top: 2%;
color:rgb(80, 6, 148);
text-decoration: underline;

}

.home-container img{
    width: 50%;
    height:300px;
    /* border: 1px solid red; */

}
.home-container .play{
    width:50%;
 padding:10px;
 margin-bottom: 3%;
 background-color: rgb(80, 6, 148);
 color:white;
 border-radius: 50px;
 border:2px solid white;
 box-shadow: 3px 3px 4px grey;

}


/* css for game page */


#game-container{
    width:100vw;
    height:100vh;
   
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:flex-start;
    background-image: url(images/fairgif.gif);
    background-repeat: no-repeat;

    z-index: -10;
    background-size: cover;
    background-position: 50% 100%;
    background-blend-mode:overlay;
    /* opacity: 0.6; */

    }
    #game-container img{

        border:2px solid black;
        background-color: rgb(95, 10, 114);
        border-radius: 50%;
    }
    #game{
        background-color: rgba(244, 232, 232,0.8);
    width: 30%;
    height: 65%;
    border:2px solid black;
    position: relative;
    border-radius:15px;
    z-index: 10;
   
    }
    

    #game-container .btn{
        width:30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
    }
   .btn  button {
min-width:100px ;
min-height: 35px;
        background-color: rgb(86, 245, 86);
        padding: 2%;
        border-radius: 5px;
        border: 2px solid black;

    }
    

    #instruction{

        width:30vw;
        
        background-color: white;
        position: fixed;
        top:15%;
        left:35%;
        text-align: center;
        padding:3%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;
        border:2px solid black;
        border-radius:15px;
z-index: 15;
    }
   

    #instruction p{
margin-top:3%;
margin-bottom: 2%;

    }

    #instruction button{
margin-top: 3%;
        padding:3%;
        background-color:yellow;
        border-radius:15px;
        border:2px solid black;
    }




    
    
